/Bubble Sort/nbproject/private/
/Bubble Sort/build/
/latihan_1/nbproject/private/
/latihan_1/build/
/latihan_2/nbproject/private/
/latihan_2/build/
/latihan_3/nbproject/private/
/Latihan_4/nbproject/private/
/latihan_3/build
/person/nbproject/private/
/Tugas_Minggu2/nbproject/private/
/Tugas_Minggu2/build/
/managingpeople/nbproject/private/
/managingpeople/build/
/Latihan_Minggu_2/nbproject/private/
/Latihan_Minggu_2/build/
/coba/nbproject/private/
/coba/build/
/latihan_minggu3/nbproject/private/
/latihan_minggu3/build/
/Tugas_minggu3/nbproject/private/
/Tugas_minggu3/build/
/latihan_Minngu4/nbproject/private/
/latihan_Minngu4/build/
/Tugas_minggu4/nbproject/private/
/Tugas_minggu4/build/
/Latihan_Minggu4/nbproject/private/
/Latihan_Minggu4/build/
/polimir/nbproject/private/
/polimir/build/
/vivi bambang/nbproject/private/
/vivi bambang/build/
/SenjataPUBG_Polymorphism/nbproject/private/
/SenjataPUBG_Polymorphism/build/
/OOP/nbproject/private/
/OOP/build/
/JavaApplication22/nbproject/private/
/JavaApplication23/nbproject/private/
/JavaApplication23/build/
/BinaryTree1/nbproject/private/
/BinaryTree1/build/
/Graph_BFS/nbproject/private/
/Graph_BFS/build/
/SORTING/nbproject/private/
/SORTING/build/